body
{
    color: rgb(0, 187, 255);
    background: rgb(48, 223, 13);
}
.heading
{
    width: 50%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed rgb(16, 5, 103);
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name , #result_object_accuracy
{
    color: rgb(170, 255, 0)
}